.play-background {
    background-color: #BCE7B0;
    background-image: 
        linear-gradient(#BCE7B0, #A0AFFC);
    background-attachment: fixed;
}


.play-height {
  height: auto;
}

.daily-container {  
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1.5fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "DailyCard Words"
      "DailyCard Words"
      "WordsForm Words"
      "WordsForm Words";
  }
  
  .DailyCard { 
      grid-area: DailyCard; 
    }
  
  .WordsForm { 
      grid-area: WordsForm; 
    }
  
  .Words { 
      grid-area: Words; 
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

  .play-word {
    border: solid black 1px;
    background-color: white;
    padding: 0 5px;
    margin: 0 5px;
  }
  
  .words-form {
    margin: 10px auto;
    height: 350px;
    width: 525px;
    border: solid #589945 2px;
    border-radius: 10px;
    background-color: white;
}

.place {
  color: #589945
}

.save-button {
  background-color: #BCE7B0;
  border: solid #589945 2px;
  border-radius: 10px;
  color: #589945;
}

.save-button:hover {
  background-color: black;
  border: solid black 2px;
  color: #BCE7B0;
}

.clear-button {
  background-color: #A0AFFC;
  border: solid #1F47D0 2px;
  border-radius: 10px;
  color: #1F47D0;
  
}

.clear-button:hover {
  background-color: black;
  border: solid black 2px;
  color: #A0AFFC;
}

.delete-button {
    background-color: white;
    border: solid #E56452 2px;
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 360px;
    z-index: 1;
}

.delete-button:hover {
  background-color: black;
  border: solid black 2px;
}

.delete-color {
  color: #E56452;
}

.delete-color:hover {
  color: #F7B3A8;
}


.word-container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "a b c d e"
    "g h i j k"
    "m n o p q"
    "s t u v w"
    "y z aa bb cc";
}

.a { 
  grid-area: a;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.b { 
  grid-area: b;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.c { 
  grid-area: c;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.d { 
  grid-area: d;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.e { 
  grid-area: e;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.g { 
  grid-area: g;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.h { 
  grid-area: h;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.i { 
  grid-area: i;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.j { 
  grid-area: j;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.k { 
  grid-area: k;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.m { 
  grid-area: m;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.n { 
  grid-area: n;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.o { 
  grid-area: o;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.p { 
  grid-area: p;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.q { 
  grid-area: q;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.s { 
  grid-area: s;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.t { 
  grid-area: t;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.u { 
  grid-area: u;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.v { 
  grid-area: v;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.w { 
  grid-area: w;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.y { 
  grid-area: y;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.z { 
  grid-area: z;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.aa { 
  grid-area: aa;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.bb { 
  grid-area: bb;
  /* border: solid black 1px; */
  padding: 20px 0;
 }

.cc { 
  grid-area: cc;
  /* border: solid black 1px; */
  padding: 20px 0;
 }
