.saved {
    margin: 10px auto;
    height: 300px;
    width: 450px;
    border: solid #A0AFFC 2px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.format-word {
    border: solid black 1px;
    background-color: white;
    padding: 0 5px;
    margin: 0 5px;
}

.saved-background {
    background-color: #F3BBF7;
    background-image: 
        linear-gradient(#F3BBF7, #A0AFFC);
    background-attachment: fixed;
}

.saved-height {
    height: 100vh;
}

.saved-buttons {
    background-color: #F3BBF7;
    border: solid #dd55e6 2px;
    border-radius: 10px;
    padding: 5px 10px;
    color: #dd55e6;
}

.saved-buttons:hover {
    background-color: black;
    border: solid black 2px;
    color: #F3BBF7;
}