.words-form {
    margin: 10px auto;
    height: 350px;
    width: 525px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: white;
}

.form-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "a b c d e"
      "g h i j k"
      "m n o p q"
      "s t u v w"
      "y z aa bb cc";
  }
  
  .a { 
    grid-area: a; 
    border-radius: 10px 0 0 0;
}
    .a:hover {
        background-color: yellow;
    }
  
  .b { grid-area: b; }

  .b:hover {
    background-color: yellow;
}
  
  .c { grid-area: c; }

  .c:hover {
    background-color: yellow;
}
  
  .d { grid-area: d; }

  .d:hover {
    background-color: yellow;
}
  
  .e { 
    grid-area: e;
    border-radius: 0 10px 0 0;
 }

  .e:hover {
    background-color: yellow;
}
  
  .g { grid-area: g; }

  .g:hover {
    background-color: yellow;
}
  
  .h { grid-area: h; }

  .h:hover {
    background-color: yellow;
}
  
  .i { grid-area: i; }

  .i:hover {
    background-color: yellow;
}
  
  .j { grid-area: j; }

  .j:hover {
    background-color: yellow;
}
  
  .k { grid-area: k; }

  .k:hover {
    background-color: yellow;
}
  
  .m { grid-area: m; }

  .m:hover {
    background-color: yellow;
}
  
  .n { grid-area: n; }

  .n:hover {
    background-color: yellow;
}
  
  .o { grid-area: o; }

  .o:hover {
    background-color: yellow;
}
  
  .p { grid-area: p; }

  .p:hover {
    background-color: yellow;
}
  
  .q { grid-area: q; }

  .q:hover {
    background-color: yellow;
}
  
  .s { grid-area: s; }

  .s:hover {
    background-color: yellow;
}
  
  .t { grid-area: t; }

  .t:hover {
    background-color: yellow;
}
  
  .u { grid-area: u; }

  .u:hover {
    background-color: yellow;
}
  
  .v { grid-area: v; }

  .v:hover {
    background-color: yellow;
}
  
  .w { grid-area: w; }

  .w:hover {
    background-color: yellow;
}

  .y { 
    grid-area: y;
    border-radius: 0 0 0 10px;
 }

  .y:hover {
    background-color: yellow;
}
  
  .z { grid-area: z; }

  .z:hover {
    background-color: yellow;
}
  
  .aa { grid-area: aa; }

  .aa:hover {
    background-color: yellow;
}
  
  .bb { grid-area: bb; }

  .bb:hover {
    background-color: yellow;
}
  
  .cc { 
    grid-area: cc;
    border-radius: 0 0 10px 0;
 }

  .cc:hover {
    background-color: yellow;
}
  
  